<!-- Inicia el header -->

<header class="bg-sky-700">
    <nav class="mx-auto flex max-w-7xl  lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1 lg:justify-end">
        <a href="#" class="-m-1.5 p-1.5 ">
          <span class="sr-only">Your Company</span>
          <img class="size-24 w-auto " src="https://i.ibb.co/CbsfGw2/logo2-removebg-preview.png" alt="">
        </a>
      </div>
      
      <div class="hidden lg:flex lg:flex-1 flex space-x-4 lg:justify-end">
        <a  href="shop/tienda" routerLinkActive="router-link-active"  class="text-md font-semibold leading-6 text-white">WhatsApp</a>
        <a routerLink='/login' href="user/login" class="text-md font-semibold leading-6 text-white">Comprar<span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
    
  
    
  </header>
